Makefile
Makefile.in
*.o
*.la
*.lo
.deps/
.libs/

/aclocal.m4
/autom4te.cache/
/bin/knc
/cf/libtool.m4
/cf/ltoptions.m4
/cf/ltsugar.m4
/cf/ltversion.m4
/cf/lt~obsolete.m4
/compile
/config.guess
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/test/testknc
/test/unit
